*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: whitesmoke;
    padding: 1rem;
    min-height: auto;
    border-radius: 2%;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

    .calculator-grid > button {
        cursor: pointer;
        font-size: 2rem;
        border: 1px solid black;
        border-radius: 3%;
    }

    .calculator-grid > button:hover {
        background-color: #a9a9a9;
    }

    .span-two {
        grid-column: span 2;
    }

    #clear-btn{
        background-color: orangered;
    }

    #del-btn {
        background-color: slateblue;
    }

    .output-screen{
        background-color: silver;
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        padding: 10px;
        border: 1px solid black;
        border-radius: 3%;
    }

    .output-screen > .previous-operand{
        font-size: 1.5rem;
    }

    .output-screen > .current-operand{
        font-size: 3rem;
    }
